/* General Container */
.profile-container {
    min-width: 300px;
   
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile Header */
  .profile-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #1976d2;
  }
  
  .profile-name {
    font-size: 1.8rem;
    color: #1976d2;
    margin-top: 10px;
  }
  
  .profile-email {
    font-size: 1rem;
    color: #555;
  }
  
  /* Profile Info */
  .profile-info,
  .profile-health {
    margin-bottom: 20px;
  }
  
  .profile-info h2,
  .profile-health h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .profile-info p,
  .profile-health p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  /* Profile Actions */
  .profile-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-profile-button,
  .logout-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .edit-profile-button {
    background-color: #1976d2;
    color: white;
  }
  
  .edit-profile-button:hover {
    background-color: #125ca1;
  }
  
  .logout-button {
    background-color: #ff3d00;
    color: white;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  